body {
    background-color: #4a4a4a;
}

h2{
    color: goldenrod;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

p {
    color: white;
}

h3{
    color: white;
}

th{
    font-size: 30px;
    width: 25%;
    color: #ddc7ad;
}

#root {
    margin: 30px;
}

/*.quizBtn {*/
/*    height: 30px;*/
/*    width: 300px;*/
/*    background-color: bisque;*/
/*    font-size: 1em;*/
/*    border: 2px solid goldenrod;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin: 5px 5%;*/
/*}*/

.prize{
    height: 20px;
    width: 100px;
    background-color: #b1ffb0;
    font-size: 1em;
    border: 2px solid goldenrod;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5%;
}


.quizQuestion {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}

.headerBar {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid goldenrod;
    height: 60px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}
.center{
    margin-top: 100px;
    margin-left: 45%;
    text-align: center;
    top: 500px;
    width: 150px;
    padding-top: 20px;
}

.msgDiv {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.notLoggedInMsg {
    text-align: center;
    color: #ddc7ad;
    size: 100px;
    font-size: 90px;
    margin-left: 5%;
    height: 50px;
}
.home {
    float: left;
}
.btnPartHeader {
    float: left;
    margin: 30px;
}

.btnPart {
    display: inline-flex;
}

.btn {
    width: 90px;
    height: 20px;
    background-color: rgb(155, 155, 155);
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 2px solid goldenrod;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btnLs {
    margin-left: 20px;
    margin-top: 20px;
    height: 20px;
    /*width: 90px;*/
    background-color: rgb(155, 155, 155);
    color: black;
    font-size: 1em;
    padding: 5px;
    border: 2px solid goldenrod;
    border-radius: 5px;
}
.btnM{
    width: 90px;
    height: 34px;
    margin-left: 40%;
}

.allMeals {
    width: 100%;
    margin-top: 30px;
    padding-left: 20%;
    text-align: center;
    font-size: 20px;
    color: white;
}

.allDrinks {
    width: 100%;
    margin-top: 20px;
    padding-left: 34%;
    text-align: center;
    font-size: 20px;
    color: white;
}


.oneMeal {
    padding: 400px;
}

.dishInput {
    width: 50%;
    padding: 5px;
    display: block;
    margin-bottom: 15px;
}

.inputTitle {
    color: white;
    display: inline;
}


.btnDeActive {
    width: 90px;
    background-color: rgb(207, 205, 200);
    color: rgb(153, 153, 153);
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.homeText{
    color: white;
}

.inputName{
    display: inline-block;
    margin-left: 10px;
}
.chat{
    text-align: center;
    place-items: center;
    width: 100%;
    height: 20%;
    border-top: 2px solid goldenrod;

}
.btnChat{
    height: 30px;
}
